<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTA_MECH.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WTA_MECH.Properties.Settings>
            <setting name="FormMSG_HT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormMSG_WD" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="FormMSG_Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FormMSG_Left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="RootSearchPath" serializeAs="String">
                <value>WTA Families</value>
            </setting>
            <setting name="SensorToolSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ST1_Workset</string>
                        <string>MECH HVAC</string>
                        <string>ST1_SensorFamily</string>
                        <string>M_BAS SENSOR</string>
                        <string>ST1_SensorFamilySymbol</string>
                        <string>THERMOSTAT</string>
                        <string>ST1_IDParameter</string>
                        <string>STAT ZONE NUMBER</string>
                        <string>ST1_SensorTagFamily</string>
                        <string>M_EQIP_BAS_SENSOR_TAG</string>
                        <string>ST1_SensorTagFamilySymbol</string>
                        <string>SENSOR</string>
                        <string>ST2_Workset</string>
                        <string>MECH HVAC</string>
                        <string>ST2_SensorFamily</string>
                        <string>M_BAS SENSOR</string>
                        <string>ST2_SensorFamilySymbol</string>
                        <string>THERMOSTAT</string>
                        <string>ST2_IDParameter</string>
                        <string>STAT ZONE NUMBER</string>
                        <string>ST2_SensorTagFamily</string>
                        <string>M_EQIP_BAS_SENSOR_TAG</string>
                        <string>ST2_SensorTagFamilySymbol</string>
                        <string>TAG NUMBER ONLY</string>
                        <string>STO1_Workset</string>
                        <string>MECH HVAC</string>
                        <string>STO1_SensorFamily</string>
                        <string>M_BAS SENSOR</string>
                        <string>STO1_SensorFamilySymbol</string>
                        <string>THERMOSTAT</string>
                        <string>STO1_IDParameter</string>
                        <string>STAT ZONE NUMBER</string>
                        <string>STO1_SensorTagFamily</string>
                        <string>M_EQIP_BAS_SENSOR_TAG</string>
                        <string>STO1_SensorTagFamilySymbol</string>
                        <string>SENSOR</string>
                        <string>STO1_SensorTagFamily2</string>
                        <string>M_DEVICE_BAS_TAG_SYM</string>
                        <string>STO1_SensorTagFamilySymbol2</string>
                        <string>M-DATA-SENSOR</string>
                        <string>STO2_Workset</string>
                        <string>MECH HVAC</string>
                        <string>STO2_SensorFamily</string>
                        <string>M_BAS SENSOR</string>
                        <string>STO2_SensorFamilySymbol</string>
                        <string>THERMOSTAT</string>
                        <string>STO2_SensorTagFamily</string>
                        <string>M_EQIP_BAS_SENSOR_TAG</string>
                        <string>STO2_SensorTagFamilySymbol</string>
                        <string>TAG NUMBER ONLY</string>
                        <string>STO2_SensorTagFamily2</string>
                        <string>M_DEVICE_BAS_TAG_SYM</string>
                        <string>STO2_SensorTagFamilySymbol2</string>
                        <string>M-DATA-SENSOR</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SetMgr_Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SetMgr_left" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TagOtherViews" serializeAs="String">
                <value>False</value>
            </setting>
        </WTA_MECH.Properties.Settings>
    </userSettings>
</configuration>